# Ignore environment variables file
.env

# Ignore Python virtual environment folder
venv/
wenv/

# Ignore logs
logs/

# Ignore compiled Python files
*.pyc
__pycache__/
core/__pycache__/
core\__pycache__/